.header
  = render "messages/toppage-header"

.AccountPage
  .AccountPage__title
    %h2 会員情報登録
    %h5 新規アカウントの作成
    = render "devise/shared/links"
  .AccountPage__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .FormField
        .FormField__label--normal
          = f.label :ニックネーム 
          .FormField__input--normal-need 必須
        .FormField__input--normal
          = f.text_field :name, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :メールアドレス
          .FormField__input--normal-need 必須
        .FormField__input--normal
          = f.email_field :email
      .FormField
        .FormField__label--normal
          = f.label :パスワード
          %i (英数字8文字以上)
          .FormField__input--normal-need 必須
        .FormField__input--normal
          = f.password_field :password, autocomplete: "off"
      .FormField
        .FormField__label--normal
          = f.label :パスワード
          %i (確認用)
          .FormField__input--normal-need 必須
        .FormField__input--normal
          = f.password_field :password_confirmation, autocomplete: "off"

 
      .AccountPage__title__user
        %h3 お客様情報
      .Customer
        .FormField_name
          .FormField__label--name
            = f.label :名字
            .FormField__need 必須
            .FormField__input--name
              = f.text_field :first_name, autofocus: true
        .FormField_name      
          .FormField__label--name
            = f.label :名前
            .FormField__need 必須
            .FormField__input--name
              = f.text_field :last_name, autofocus: true
      .Customer        
        .FormField_name
          .FormField__label--name
            = f.label :名字（ふりがな）
            .FormField__need 必須
            .FormField__input--name
              = f.text_field :first_name_kana, autofocus: true
        .FormField_name      
          .FormField__label--name
            = f.label :名前（ふりがな）
            .FormField__need 必須
            .FormField__input--name
              = f.text_field :last_name_kana, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :生年月日
          .FormField__input--normal-need 必須
          .FormField__input--birth
          = f.text_field :birthday, autofocus: true, class:"birth"


      .AccountPage__title__send
        %h4 送付先情報
      .Customer
        .FormField_name
          .FormField__label--name
            = f.label :名字
            .FormField__need 必須
            .FormField__input--name
              = f.text_field :delivery_first_name, autofocus: true
        .FormField_name      
          .FormField__label--name
            = f.label :名前
            .FormField__need 必須
            .FormField__input--name
              = f.text_field :delivery_last_name, autofocus: true
      .Customer        
        .FormField_name
          .FormField__label--name
            = f.label :名字（ふりがな）
            .FormField__need 必須
            .FormField__input--name
              = f.text_field :delivery_first_name_kana, autofocus: true
        .FormField_name      
          .FormField__label--name
            = f.label :名前（ふりがな）
            .FormField__need 必須
            .FormField__input--name
              = f.text_field :delivery_last_name_kana, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :郵便番号
          .FormField__input--normal-need 必須
        .FormField__input--normal
          = f.text_field :zip_code, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :都道府県
          .FormField__input--normal-need 必須
        .FormField__input--prefecture
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name
      .FormField
        .FormField__label--normal
          = f.label :市区町村
          .FormField__input--normal-need 必須
        .FormField__input--normal
          = f.text_field :municipality, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :番地
          .FormField__input--normal-need 必須
        .FormField__input--normal
          = f.text_field :street_number, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :マンション名（任意）
        .FormField__input--normal
          = f.text_field :building_name, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :電話番号（任意）
        .FormField__input--normal
          = f.text_field :telephone_number, autofocus: true

      .actions
        = f.submit "Create Account", class: 'UserButton'

.footer
  = render "messages/toppage-footer"