.purchase
  .purchase_box
    .purchase_box_preview
      .conf-message 購入内容の確認
      %hr.border
      .conf-item
        .conf-item__name
          = @item.name
        .conf-item__price
          送料込み(税込み) ￥
          = @item.price
      %hr.border
      .payment-amount 
        .payment-amount_name
          支払い金額 
        .payment-amount_price
          ￥
          = @item.price
      %hr.border
      .payment-method 支払い方法
      .payment-card
        - if @default_card_information.blank?
          %br /
        - else
          -#以下カード情報を表示
          = "**** **** **** " + @default_card_information.last4
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
      %hr.border
      .form
        = form_tag(action: :pay, method: :post) do
          %button.form-btn 購入する
