.header
  = render 'messages/toppage-header'

.mypage_a  
  %main.mypage-contents.clearfix
    .main-p
      .profile-form
        .profile-header
          %h1 プロフィール
        .profile-detail
        = form_for '#', method: :patch, html:{class:"personal-input-form" } do |form|

          .profile-name
            .profile-name-detail
              .profile-name__img
                = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "user-img"
                .profile-name__form
                  = @users.name
      %ul.mypage-nav-list
        設定
        %li
          =link_to new_mypage_path, class: "mypage-nav-list-item" do
            ログアウト
        %li
          =link_to new_card_path(current_user.id), class: "mypage-nav-list-item" do
            クレジットカード登録/変更
.footer
  = render 'messages/toppage-footer'