.header
  = render 'messages/toppage-header'
.add-credit-top
  .add-credit-top__main
    .add-credit-top__main__new
      %h2 登録クレジットカード情報
    .add-credit-top__main__content
      .card-details
        .form-list カード番号
        .card-details2
          = "**** **** **** " + @customer_card.last4
      .card-details
        .form-list 有効期限
        .card-details2
          = @exp_month + "/" + @exp_year
      .card_delete
        = link_to card_path(@card.id), method: :delete, claas: "card_delete__btn" do
          %button 削除する

.footer
  = render 'messages/toppage-footer'