.header
  = render 'messages/toppage-header'
.add-credit-top
  %h2 登録クレジットカード情報
.add-credit-main
  .card-details
    .form-list カード番号
    .card-details2
      = "**** **** **** " + @customer_card.last4
  .card-details
    .form-list 有効期限
    .card-details2
      = @exp_month + "/" + @exp_year
  .card_delete
    = link_to card_path(@card.id), method: :delete do
      %button.card_delete__btn 削除する

.footer
  = render 'messages/toppage-footer'